/CanBalanceTest.class
/CommonEndTest.class
/CountYZTest.class
/FactorialTest.class
/FirstLast6.class
/FirstLast6Test.class
/Fix34Test.class
/GHappyTest.class
/GroupSumTest.class
/RotateLeftTest.class
/Scores100Test.class
/scoresClumpTest.class
/ScoresIncreasingTest.class
/SeriesUpTest.class
/SomeFirstLastTest.class
